.header{
    height: 64px;
    width: 100vw;
    // background-color: #2b2b2b;
    .appNav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
       navbar-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 8px 16px;
       }
    }
    
        .mat-toolbar {
            display: flex;
            background: #fff;
            box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
            color: #2b2b2b;
            display: flex;
            flex-wrap: wrap;
            vertical-align: middle;
            align-items: center;
            button{
                font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 15px;
        font-weight: 500;
            }
            i{
                font-style: normal;
            }
            }
            .flex-spacer {
                flex-grow: 1;
            }
            div {
                display: block;
            }
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 56px;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 58px;
}
.mat-toolbar-multiple-rows {
    min-height: 58px;
}