<div class="header">
  
    <div class="appNav">
        <nav class="navbar-header">
          <mat-toolbar>
            <mat-toolbar-row>
              <span>
                  <img src="https://developer.android.com/_static/954bdbf227/images/android/lockup.svg" style="height: 32px;
                  margin: 2px 0;">
              </span>
      
                <!-- <button mat-button [routerLink]="['/']"> <i class="material-icons lg">
                    store
                  </i> <i>Morning Glowry</i></button></span> -->
              <div class="flex-spacer">
      
              </div>
              
                  <span>
              <button mat-button> <i class="material-icons">
                  exit_to_app
                </i></button></span>
             
      
      
      
            </mat-toolbar-row>
          </mat-toolbar>
        </nav>
      </div>
</div>