.example-form {
    display: flex;
   
   
    .example-full-width {
      width: 90%;
      
      padding-left: 20px;
      padding-right: 20px;
    }
    .example-haft-width {
      width: 42%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    
  }
  
  .form-left {
    flex: 1;
    height: 100%;
    
    
  
    
  }
  .form-right {
    flex: 1;
    height: 100%;
    
    
    
  
    
  }
  