<form class="example-form" [formGroup]="firstCtrl">
  <div class="form-left">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Job Title." formControlName="jobtitle">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Year of Exp." formControlName="yearofexp">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Hiring." formControlName="hiring">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Salary." formControlName="salary">
      </mat-form-field>
        <mat-form-field class="example-haft-width">
            <mat-select placeholder="Sex." formControlName="sex">
                <mat-option *ngFor="let sex of sexes" [value]="sex.value">
                  {{sex.viewValue}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field class="example-haft-width">
            <input matInput placeholder="Age." type="number" formControlName="age">
        </mat-form-field>
    <!-- <mat-form-field class="example-haft-width">
      <input matInput [matDatepicker]="picker" placeholder="Public Date.">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <mat-form-field class="example-haft-width">
      <input matInput [matDatepicker]="picker1" placeholder="Close Date." formControlName="closedate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-right">
      <mat-form-field class="example-full-width">
          <mat-select placeholder="Term." formControlName="term">
              <mat-option *ngFor="let term of terms" [value]="term.value">
                {{term.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-select placeholder="Job Category." formControlName="jobcategory">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let state of categoryfilter?.data" [value]="state">{{state.name}}</mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Company." formControlName="company">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of companyfilter?.data" [value]="state">{{state.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Qualification." formControlName="qualification">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-chip-list #chipList>
                  <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(fruit)">
                    {{fruit.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Language." formControlName="language"
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Location." formControlName="location">
              </mat-form-field>
  </div>
</form>