

form {
	background-color: white;
	

    margin: 1px;
	padding: 10px; // may remove later
}

h2 {
	text-align: center;
	font-size: 28px;
	padding: 0;
	margin-bottom: 5px;
}

@media screen and (min-width: 700px) {
	.large-group {
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
	
	.small-group {
		width: 35%;
	}
}

label {
	display: block;
	margin-bottom: 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }