<nav mat-tab-nav-bar [backgroundColor]="background">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>
<form [formGroup]="form">
  <h2>Add Category</h2>
  <div class="large-group">
    <div class="small-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Category Name" formControlName="name">
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="small-group">
      <button mat-raised-button color="primary" (click)="_save(form.value)" >Add</button>
    </div>
  </div>
</form>

<ul>
  <li *ngFor="let item of category?.data">
    {{item.name}}
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="_edit(item)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </li>
</ul>

