<form class="example-form">
  <div class="form-left">
    <mat-form-field class="example-full-width">
      <textarea matInput rows="2" cols="40" placeholder="Requirement 1"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput rows="2" cols="40" placeholder="Requirement 2"></textarea>
    </mat-form-field>

  </div>
  <div class="form-right">
    <mat-form-field class="example-full-width">
      <textarea matInput rows="2" cols="40" placeholder="Requirement 3"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput rows="2" cols="40" placeholder="Requirement 4"></textarea>
    </mat-form-field>
    
    
  </div>


</form>